body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto, Verdana, Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

.segment-1 {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 16px 0px;
    /* margin: 0px 200px; */
}

.logo {
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.container {
    display: flex;
    justify-content: space-between;
    /* margin: 150px 200px; */
}

.text {
    display: flex;
    flex: 1;
    flex-flow: column wrap;
}

.placeholder {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #6D747D;
}

.main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.secondary,
.placeholder,
.button {
    font-size: 18px;
    color: #E5E7EB;
}

.button {
    background: #3B82F6;
    border: 1px solid #3B82F6;
    border-radius: 8px;
    width: fit-content;
    padding: 8px 32px;
    font-weight: 800;
    margin-top: 16px;
}

.segment-2 {
    background-color: #FFFFFF;
}

.information {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    /* margin: 0px 200px; */
}

.box {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* margin: 60px 200px 120px; */
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-basis: 0;
    row-gap: 8px;
}

img {
    border: 4px solid #3B82F6;
    width: 160px;
    height: 160px;
    border-radius: 16px;
}

.subtext {
    color: #4B5563;
    text-align: center;
}

.segment-3 {
    background-color: #E5E7EB;
}

.container-2 {
    display: flex;
    flex-flow: column wrap;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    align-self: center;
}

.author {
    font-size: 24px;
    font-weight: 800;
    color: #1F2937;
    align-self: flex-end;
}

/* testing purposes */

.header,
.container-2 {
    border: 2px solid red;
}

.container,
.quote {
    border: 2px solid gold;
}

.text {
    border: 2px solid green;
}

.placeholder,
.author {
    border: 2px solid pink;
}

.information {
    border: 2px solid purple;
}

.box {
    border: 2px solid cyan;
}

.card {
    border: 2px solid orange;
}

.segment-2 {
    border: 2px solid teal;
}