body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto, Verdana, Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

.segment-1 {
    background-color: #1F2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}

.main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.secondary,
.placeholder {
    font-size: 18px;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}