body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Roboto, Verdana, Arial, Helvetica, sans-serif;
    min-height: 100vh;
}

.segment-1 {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    align-content: center;
    margin: 0px 200px;
    padding: 16px 0px;
}

.logo {
    font-size: 24px;
    font-weight: 800;
    color: #F9FAF8;
}

.main {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.secondary,
.placeholder {
    font-size: 18px;
    color: #E5E7EB;
}

.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px;
}

a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

/* testing purposes */

.header {
    border: 2px solid red;
}